<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Announcemets</div>
      <div class="item item-body">
        <div>
          There is a class at ...
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Reminder</div>
      <div class="item item-body">
        <div>
          You have a session at..
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Chats</div>
      <div class="item item-body">
        <div>
          some blahblah chat message
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
