<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="password">
      </label>
      <button class="button button-block button-positive" ng-click="LoginCtrl.register('')">Submit</button>
    </div>
  </ion-content>
</ion-view>