<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="list">
    <form novalidate>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="user.email" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="password" ng-model="user.password" />
      </label>
      <button class="button button-block button-positive" ng-click="submit()">Register</button>
    </form>
    </div>
  </ion-content>
</ion-view>